* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(32, 27, 27);
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
  }

  .board {
    width: 320px;
    height: 320px;
    background-image: url(v69BjIK.png);
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cross {
    background-image: url(cross-01.png);
    background-size: cover;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .circle {
    background-image: url(circle-01.png);
    background-size: cover;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ttt-css {
    position: absolute;
    top: 250px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  
  /*Use inline-grid to create 3 sections for reset buttons*/
  .css-reset-game,
  .css-reset-score {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 30px;
    font-size: 20px;
    transition: .5s ease;
  }
  .css-reset-game:hover,
  .css-reset-score:hover {
    background-color: rgb(0, 156, 196);
  }

  .css-reset-game:active,
  .css-reset-score:active {
    background-color: rgb(77, 219, 255);
    padding: 10px;
  }

  .container-score {
    color: rgb(255, 0, 0);
    position: relative;
    top: 600px;
    font-size: 30px;
  }
  .startup-container {
    padding: 10px;
    font-size: 30px;
    background-color: rgb(42, 42, 42);
    width: 5000px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 100px;
    display: flex;
  }
  .startup-container-text-inside {
    color: white;
    display: block;
    color: rgb(193, 193, 193);
  }

  .button-player-one { /*START BUTTON*/
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border-style: none;
    color:rgb(0, 0, 0);
    font-size: 18px;
    transition: .5s ease;
    justify-content: center;
    align-items: center;
    display: flex;

  }
  .button-player-one:hover {
    background-color: rgb(155, 154, 154);
    font-weight: bold;
    padding: 30px;
  }

  .css-x-button,
  .css-o-button {
    width: 150px;
    height: 30px;
    border-radius: 80px;
    border-style: none;
    cursor: pointer;
    font-size: 25px;
    transition: .5s ease;
  }
  .css-x-button:hover {
    background-color: rgb(106, 106, 251);
    transition: .5s;
    color: white;
    font-weight: bold;
  }
  .css-o-button:hover {
    background-color: rgb(250, 84, 84);
    transition: .5s;
    color: white;
    font-weight: bold;

  }
  .css-x-button-after-click{
    width: 150px;
    height: 30px;
    border-radius: 80px;
    border-style: none;
    cursor: pointer;
    font-size: 25px;
    background-color: rgb(106, 106, 251);
    transition: .5s;
    color: white;
    font-weight: bold;

  }
  .css-o-button-after-click{
    width: 150px;
    height: 30px;
    border-radius: 80px;
    border-style: none;
    cursor: pointer;
    font-size: 25px;
    background-color: rgb(250, 84, 84);
    transition: .5s;
    color: white;
    font-weight: bold;

  }
  .css-chooseXOrO {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .startup-container-two {
    color: rgb(244, 0, 0);
  }

  .css-cpu-button {
    width: 200px;
    height: 100px
  }

  .css-cpu-button-after {
    background-color: red;
  }

  .css-turns {
    color: white;
  }

  .css-startup-container-three-player-button,.css-startup-container-three-cpu-button{
    width: 200px;
    height: 30px;
    border-radius: 80px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    transition: .5s ease;
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: flex;
  }
  .css-startup-container-three-player-button:hover{
    background-color: rgb(255, 95, 159);
    transition: .5s;
    font-weight: bold;
    color: white;
  }
  .css-startup-container-three-cpu-button:hover{
    background-color: rgb(255, 95, 159);
    transition: .5s;
    font-weight: bold;
    color: white;
  }
  .css-startup-container-three-player-button-afterClick{
    border-color: rgb(106, 106, 251);
    background-color:rgb(106, 106, 251);
    border-width: 10px;
    border-style: solid;
    font-weight: 700;
    transition: 1s ease;
    padding: 10px;
    color: white;
  }
  .css-startup-container-three-cpu-button-afterClick{
    border-color: rgb(250, 84, 84);
    background-color:rgb(250, 84, 84);
    border-width: 10px;
    border-style: solid;
    font-weight: 700;
    transition: 1s ease;
    padding: 10px;
    color: white;

  }
  .css-buttonConfirmation{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-style: none;
    border-radius: 50px;
    font-size: 20px;
    transition: .5s ease;
  }

  .css-buttonConfirmation:hover {
    background-color: rgb(255, 95, 159);
    font-weight: bold;
    color: white;
  }

  .css-areyousure{ /*ARE YOU SURE BUTTON*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
  }
  .css-wins{ /*player 1 wins text */
    justify-content: center;
    display: flex;
    text-align:end;
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }